body{
    background-color: #e9daad;
    color: #573401;

}

#h1{
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: 1px 1px 6px rgba(17, 3, 0, 0.99);
}

.container::before {
    content: ""; /* Hozzáadunk egy üres tartalmat */
    position: absolute; /* Abszolút pozíció a .container-höz képest */
    top: 60px;
    left: 20px;
    right: 20px;
    bottom: 10px;
    background-image: url("./pic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1; /* Azért, hogy a háttérkép mögé helyezzük a .container-t */
}

.container {
   background-color: rgba(255, 235, 205, 0.8);
   padding: 20px;
   margin: 60px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50vh;
   width: 70%;
   border-radius: 6px;
}

.button {
    padding: 10px;
    background-color: #8f5702;
    color: white;
    cursor: pointer;
    margin: 5px 10px 5px 1175px;
    border: none;
    border-radius: 9px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#regBtn{
    position: absolute;
    top: 10px;
    right: 125px;
}